<!-- Default home page -->
<script type="text/javascript">
</script>

<div class="default-page">
  <div class="main container clearfix">

    <pre>
      __    __                                __                  __         ______   _______   ______
      /  |  /  |                              /  |                /  |       /      \ /       \ /      |
      ** |  ** | __    __   ______    _______ ** |____   __    __ **/       /******  |*******  |******/
      ** |__** |/  |  /  | /      \  /       |**      \ /  |  /  |/  |      ** |__** |** |__** |  ** |
      **    ** |** |  ** |/******  |/*******/ *******  |** |  ** |** |      **    ** |**    **/   ** |
      ******** |** |  ** |** |  ** |**      \ ** |  ** |** |  ** |** |      ******** |*******/    ** |
      ** |  ** |** \__** |** \__** | ******  |** |  ** |** \__** |** |      ** |  ** |** |       _** |_
      ** |  ** |**    **/ **    **/ /     **/ ** |  ** |**    **/ ** |      ** |  ** |** |      / **   |
      **/   **/  ******/   ******/  *******/  **/   **/  ******/  **/       **/   **/ **/       ******/

      ==================================================================================================

      List of common endpoints:

      # courses
      course: https://api.huoshui.org/courses/{id}?populate=[Prof,School,Review,CourseStat]
      courses: https://api.huoshui.org/courses?populate=[Prof,School,Review,CourseStat]

      # profs
      prof: https://api.huoshui.org/profs/{id}?populate=[Dept,School,Position,Tag]
      profs: https://api.huoshui.org/profs?populate=[Dept,School,Position,Tag]

      # positions
      positions: https://api.huoshui.org/positions

      # depts
      depts: https://api.huoshui.org/depts

      # tags
      tags: https://api.huoshui.org/tags

      For detailed documentation decribed in OpenAPI specification: https://doc.huoshui.org

    </pre>

  </div>
</div>
